/* success-story-wrap */
.success-story-wrap .single-success-story {
    position: relative;
    z-index: 1;
}
.success-story-wrap .single-success-story .success-story-thumb,
.success-story-wrap .single-success-story .success-story-thumb {
    /* height: 540px; */
    height: 450px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.success-story-wrap .single-success-story .service-content {
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 0px 30px 30px 30px;
    bottom: -60px;
    transition: all .5s ease;
}
.success-story-wrap .single-success-story .service-content .learn-btn {
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}
.success-story-wrap .single-success-story:hover  .service-content{
    bottom: 0;
}
.success-story-wrap .single-success-story:hover .service-content .learn-btn{
    opacity: 1;
    visibility: visible;
}
.success-story-wrap .single-success-story:hover .service-content .learn-btn:hover{
    background-color: #FFB853;
    color: #000;
}
.success-story-wrap .single-success-story:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    opacity: .9;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
}
.success-story-wrap .single-success-story:hover:after{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.736) 80%);
    transition: all .5s ease;
}
.success-story-wrap .swiper-button-next::after, .success-story-wrap  .swiper-button-prev::after {
    content: "";
}
.success-story-wrap .swiper-button-prev, .success-story-wrap  .swiper-button-next {
    background-image: none;
    background-size: contain;
    width: 40px;
}
.success-story-wrap .swiper-button-prev, .success-story-wrap .swiper-button-next {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    height: 54px;
    width: 96px;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: #FFB853;
    border-color: #FFB853;
}
.success-story-wrap .swiper-button-prev:hover img, 
.success-story-wrap  .swiper-button-next:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.success-story-wrap .swiper-button-prev {
    left: -45px;
}
.success-story-wrap .swiper-button-next {
    right: -45px;
}




/* .client-story-2  */
.success-story-wrap.client-story-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.success-story-wrap.client-story-2 .success-story-wrap.client-story-2 {
    overflow: hidden;
}
.success-story-wrap.client-story-2 .single-success-story {
    overflow: hidden;
}

/* Responsiv CSS */
@media (max-width: 1450px){
	
	.success-story-wrap .swiper-button-prev {
		left: -15px;
	}
	.success-story-wrap .swiper-button-next {
		right: -15px;
	}
	
}


@media (max-width: 1200px){


    .success-story-wrap .swiper-button-prev {
		left: 5px;
	}
	.success-story-wrap .swiper-button-next {
		right: 5px;
	}

}

@media (max-width: 1024px){
	

	.success-story-wrap .swiper-button-prev, .success-story-wrap .swiper-button-next {
        height: 40px;
        width: 70px;
    }
    .success-story-wrap .swiper-button-prev img, .success-story-wrap .swiper-button-next img {
        max-width: 30px;
    }
    .success-story-wrap .swiper-button-prev {
		left: 5px;
	}
	.success-story-wrap .swiper-button-next {
		right: 5px;
	}
	
}

@media (max-width: 767px){
	

    /* client-story-2 */
    .success-story-wrap.client-story-2 {
        grid-template-columns: repeat(2, 1fr);
    }
	
}

@media (max-width: 575px){
	

    /* client-story-2 */
    .success-story-wrap.client-story-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .success-story-wrap.client-story-2 .single-success-story .service-content .learn-btn {
        opacity: 1;
        visibility: visible;
    }
    .success-story-wrap.client-story-2 .single-success-story .service-content{
        bottom: 0;
    }
	
}