/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} */
.d-none{
  display: none;
}
.d-blcok{
  display: block;
}



/* page-nav-container  */
.page-nav-container {
  text-align: center;
  margin-top: 50px;
}
.page-nav-container a, .page-nav-container span {
  border: 1px solid #FFB853;
  background: transparent;
  color: #FFB853;
  border-radius: 3px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 7px 19px;
  margin: 4px 2px;
}
.page-nav-container a:hover {
  background-color: #FFB853;
  color: #000;
}
.page-nav-container span.current {
  background-color: #FFB853;
  color: #000;
}